﻿@model pbk.Models.Test

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions of "@Html.DisplayFor(model => model.Title)" test.</h1>

<p>
    <a asp-action="Create" asp-controller="Questions" asp-route-testId="@Model.Id">Create New</a> |
    <a asp-action="Index" asp-controller="Tests">Back to List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Condition
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Questions">Add answers</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Questions">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Questions">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
