﻿@model IEnumerable<pbk.Models.Test>

@{
    ViewData["Title"] = "Tests";
}

    <h1>Tests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GivenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Title)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Add Questions</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Create" asp-controller="SubmissionAnswers" asp-route-testId="@item.Id">Take</a>
            </td>
        </tr>
}
    </tbody>
</table>
