﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <p>Платформа для создания тестов  <a href="../Tests">PBK 1.0</a>.</p>
    </div>    
    <div class="text-left">
        Платформа позволяет :
        <ul>
            <li>
                создавать/проходить тесты разной сложности;
            </li>
            <li>
                создавать тесты включающие в себя тему -> подтему -> подподтему  -> ...;
            </li>
            <li>
                создавать тесты на время;
            </li>
            <li>
                создавать разные типы тестов, которые могут включать в себя разные типы вопросов (открытый/закрытый и т.п.);
            </li>
            <li>
                оценивать теста по итогу (а также возможность отмечать ответ как правильный/неправильный сразу или после окончания теста);
            </li>
            <li>
                просматривать статистику по темам и подтемам (правильность полученных ответов, количество тестов и т.п.).
            </li>
        </ul>

    </div>
