﻿@model pbk.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Add question to "@ViewBag.TestTitle" test.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestId" value="@ViewBag.TestId" />
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(pbk.Models.Enums.QuestionType)))"></select>
                <span asp-validation-for="Type" class="text-danger" asp-route-id="@ViewBag.TestId"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Tests"  asp-route-id="@ViewBag.TestId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
