﻿@model pbk.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Answers of "@Html.DisplayFor(model => model.Condition)" question.</h1>
<h1>Type of question is "@Html.DisplayFor(model => model.Type)".</h1>

<p>
    <a asp-action="Create" asp-controller="Answers" asp-route-questionId="@Model.Id">Create New</a> |
    <a asp-action="Details" asp-controller="Tests" asp-route-id="@Model.TestId">Back to List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Correct answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Answers)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Content)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsCorrect)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Answers">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Answers">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
